.Page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Ensures the page takes full viewport height

  .Page1 {
    flex: 1; // Allows the section to take available space

    // Section 1
    .page_img_1 {
      position: relative;
      width: 100%;
      height: 100%; // Full viewport height

      img {
        width: 100%;
        height: 100%; // Maintain aspect ratio
        max-height: 400px;
      }

      .page1_box {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.546);
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 63%;
      }

      .page1_content {
        position: absolute;
        color: white;
        z-index: 2;
        top: 40%;
        left: 165px;
        /* right: 0; */
        /* transform: translateX(-50%); */
        width: 100%;
        text-align: center;
        max-width: calc(100% - 30%);

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    // Media Queries
    @media (max-width: 1280px) {
      .page_img_1 {
        height: auto;

        .page1_box {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.546);
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .page1_content {
          top: 30%;
          width: 100%;
          text-align: center;

          h1 {
            font-size: 1.25rem;
          }

          p {
            font-size: 1rem;
            margin-left: 20%;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .page_img_1 {
        height: auto;

        .page1_box {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.546);
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .page1_content {
          top: 30%;
          width: 100%;
          text-align: center;

          h1 {
            font-size: 1.25rem;
          }

          p {
            font-size: 1rem;
            margin-left: 20%;
          }
        }
      }
    }

    @media (max-width: 768px) {
      .page_img_1 {
        height: auto;

        .page1_box {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.546);
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        .page1_content {
          top: 15%;
          width: 100%;

          h1 {
            font-size: 1.5rem;
          }

          p {
            font-size: 1rem;
          }
        }
      }
    }

    @media (max-width: 480px) {
      .page_img_1 {
        height: auto;

        .page1_content {
          top: 0%;
          width: 100%;

          h1 {
            font-size: 1.25rem;
          }

          p {
            font-size: 0.6rem;
          }
        }
      }
    }



    // Section 2 Styles
    .Page2 {
      .category_h3 {
      //   margin-top: 5%;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 5%;
      margin-top: 10%;
      font-size: 32px !important;
      }

      .main_carousel {
        .carousel_page {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 0.5rem;
          margin-left: 15%;
          width: 70%;
          height: 80%;

          .card1 {
            flex: 1 1 2%;
            margin-bottom: 2%;
            padding: 0;
            text-align: center;
            border: 1px solid #ddd;
            border-radius: 1rem;
            border: none;

            img {
              border-radius: 1rem;
              margin-bottom: 0.5rem;
              width: 200px;
              height: 200px;
              object-fit: cover;
              border: none;
            }
          }
        }

        .carousel-control-prev-icon {
          background-color: rgb(13, 153, 223);
          border-radius: 50%;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
        }

        .carousel-control-next-icon {
          background-color: rgb(46, 168, 229);
          border-radius: 50%;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        }
      }
    }

    // Section 3 Styles
    .Page3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: -10vh;
      margin-top: -15vh;

      .page3-content {
        width: 40%;
        margin-left: 10%;

        p {
          font-size: 1.5em;
          width: 80%;
          margin: 1rem auto;
          margin-left: 1%;
        }

        .page-button2 {
          background: #3EB2F0;
          color: white;
          border-radius: 15px;
          font-size: 1rem;
          padding: 10px 20px;
          width: 50%;
          margin: 1rem auto;
        }
      }

      .page_img_2 {
        width: 45%;
        margin-left: auto;

        .slick-slider {
          width: 50%;
          margin-left: 10%;

          .slick-slide img {
            width: 100%;
            height: auto;
          }
        }
      }

      

      @media (max-width: 768px) {
        .page3-content {
          width: 80%;
          margin-left: 0;
          text-align: center;

          p {
            font-size: 1.25em;
          }

          .page-button2 {
            width: 70%;
          }
        }

        .page_img_2 {
          width: 100%;
          margin-left: 0;

          .slick-slider {
            width: 100%;
          }
        }
      }

      @media (max-width: 480px) {
        .page3-content {
          width: 90%;
          margin-left: 0;
          text-align: center;

          p {
            font-size: 1em;
          }

          .page-button2 {
            width: 80%;
          }
        }

        .page_img_2 {
          width: 100%;
          margin-left: 0;

          .slick-slider {
            width: 100%;
          }
        }
      }
    }
  }

  // Footer styles to ensure it's at the bottom
  Footer {
    margin-top: auto;
  }
}


.page_img_1{
position: relative;
}
.page_img_1::before{
position: absolute;
content:"";
top: 0;
left: 0;
background-color: #0000006e;
height: 100%;
width: 100%;
max-height: 400px;
}

.swiper-templates1 .swiper-button-prev::after{
font-size:20px;
font-weight: bold;
color: #fff;
background-color: #3EB2F0;
padding: 10px 15px;
border-radius: 50%;
}


.swiper-templates1 .swiper-button-next::after{
font-size:20px;
font-weight: bold;
color: #fff;
background-color: #3EB2F0;
padding: 10px 15px;
border-radius: 50%;
}

.landingpage3-content p {
font-size: 1em;
width: 80%;
margin: 1rem auto;
margin-left: 1%;
}
.landingpage3-content {
width: 40%;
margin-left: 5%;
}
.landingpage3_h3 {
color: #3498db;
}
.landingpage3_img_2 {
width: 50%;
margin-left: auto;
}
.swiper-templates .swiper-button-next::after , .swiper-templates .swiper-button-prev::after {
font-size: 20px;
font-weight: bold;
color: #fff;
background-color: #3EB2F0;
padding: 10px 15px;
border-radius: 50%;
}

.swiper-templates .swiper-button-prev {
left: 80%;
top: 96%;
width: 100px;
height: 30px;
z-index: 999;
}

.swiper-templates .swiper-button-next {
left: 90%;
top: 96%;
width: 100px;
height: 30px;
z-index: 999;
}
.landingpage3-button2 {
background: #3EB2F0;
color: white;
border-radius: 15px;
font-size: 1rem;
padding: 10px 20px;
margin: 1rem auto;
}
.landingpage_design div {
position: absolute;
border-radius: 50%;
z-index: 1;
}
.ellipse55 {
width: 6px;
height: 6px;
left: 10%;
top: 80%;
background: #3eb2f0;
}

.ellipse59 {
width: 14px;
height: 14px;
left: 30%;
top: 10%;
background: #3eb2f0;
}

.ellipse72 {
width: 14px;
height: 14px;
left: 7%;
top: 2%;
background: #0047ff;
}

.ellipse60 {
width: 6px;
height: 6px;
left: 50%;
top: 30%;
background: #3eb2f0;
}

.ellipse61 {
width: 14px;
height: 14px;
left: 80%;
top: 10%;
background: #3eb2f0;
}

.ellipse56 {
width: 14px;
height: 14px;
left: 40%;
top: 7%;
background: #0047ff;
}

.ellipse64 {
width: 14px;
height: 14px;
left: 90%;
top: 70%;
background: #3eb2f0;
}

.ellipse58 {
width: 6px;
height: 6px;
left: 20%;
top: 5%;
background: #0047ff;
}

.ellipse71 {
width: 6px;
height: 6px;
left: 70%;
top: 10%;
background: #0047ff;
}

.group9079 .ellipse67 {
width: 14px;
height: 14px;
left: 330px;
top: 40px;
background: #3eb2f0;
}
.landingpage_design {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

@media  screen and (max-width: 768px) {
  .landingpage3-content {
    width: 100%;
    margin-left: 0;
}
.landingpage3_img_2 , .landingpage3_img_2 img{
  width: 100%;
}
.swiper-templates .swiper-button-next {
  left: 75%;
  top: 50%;
  width: 100px;
  height: 30px;
  z-index: 999;
}
.swiper-templates .swiper-button-prev {
  left: 0%;
  top: 50%;
  width: 100px;
  height: 30px;
  z-index: 999;
}
.page1_content{
  max-width: 100% !important;
}
.Page .Page1 .page_img_1 .page1_content{
  left: 0 !important;
  top: 15% !important;
}
.Page .Page1 .page_img_1 .page1_content p {
  
  margin-left: 0% !important;
}
}