.last {
  background-color: white;
  .footer {
    background-color: black;
    padding: 2rem 0;
    color: white;
    // width: 85%;
  }

  .footer-logo {
    max-width: 250px;
  }

  .footer h5 {
    font-size: 20px;
    margin-bottom: 1rem;
    color: white;
  }

  .footer p,
  .footer a {
    font-size: 0.875rem;
    color: rgba(207, 211, 214, 1);
  }

  .footer address{
    color: rgba(231, 233, 235, 1);
    font-size: 0.875rem;
  }

  .footer ul {
    list-style: none;
    padding: 0;
  }

  .footer ul li {
    margin-bottom: 0.5rem;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
    font-weight: normal !important;
  }

  .footer ul li a:hover {
    text-decoration: underline;
  }

  .footer .footer-social a {
    margin-right: 1rem;
    background-color: white;
    color: #3EB2F0;
    width: 9vh;
    border-radius: 50%;
    transform: scale(1.5);
    padding:10px 12px;
    
  }

  .footer .footer-social a svg{
    height: 18px;
    width: 18px;
  }
.footer input{
  padding: 10px 14px;
  border-radius: 10px;
  width: 100%;
}
  .subscribe-button {
    margin-top: 10%;
     background: linear-gradient(180deg, #5363F2 0%, #3EB2F0 100%);
    color: white;
    border-radius: 50px;
  }


  .footer .row.mt-4 .col-md-6 p {
    margin: 0.5rem 0;
  }


  @media (max-width: 768px) {
    .footer .row {
      text-align: center;
    }

    .footer .col-md-6 {
      margin-bottom: 1.5rem;
    }
  }

}